<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ApiBaseUrl" value="http://localhost:8181/api/" />
		<add key="AuthLoginUrl" value="auth/login" />
		<add key="AuthUsername" value="mds" />
		<add key="AuthPassword" value="Mdsap1234" />
		<add key="ValidationRulesByModelUrl" value="rules/by-model" />
		<add key="AlterDdlUrl" value="compare/alterDDL" />
		<add key="EnableModelComparison" value="false" />
		<add key="ApprovalStartByCatalogUrl" value="approval/start-by-catalog" />
		<add key="ApprovalStatusByCatalogUrl" value="approval/status-by-catalog" />
		<add key="CatalogLocksUrl" value="mart/catalog/locks" />
		<add key="CatalogUnlockUrl" value="mart/catalog/unlock" />
		<add key="MartCatalogsUrl" value="mart/catalogs" />
		<add key="MartCatalogVersionsUrl" value="mart/catalogs/{catalogId}/versions" />
	</appSettings>
</configuration>
