<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="http://localhost:8181/api/" />
    <add key="AuthLoginUrl" value="auth/login" />
    <add key="AuthUsername" value="mds" />
    <add key="AuthPassword" value="Mdsap1234" />
    <add key="ValidationRulesByModelUrl" value="rules/by-model" />
    <add key="AlterDdlUrl" value="compare/alterDDL" />
        <add key="EnableModelComparison" value="false" />
    <add key="ApprovalStartByCatalogUrl" value="approval/start-by-catalog" />
  </appSettings>
</configuration>
