<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AuthLoginUrl" value="http://localhost:8181/api/auth/login" />
    <add key="AuthUsername" value="mds" />
    <add key="AuthPassword" value="Mdsap1234" />
    <add key="ValidationRulesByModelUrl" value="http://localhost:8181/api/rules/by-model" />
    <add key="AlterDdlUrl" value="http://localhost:8181/api/compare/alterDDL" />
  </appSettings>
</configuration>
